@import '../../token/mixin/flex';
@import '../../token/variables/fontSize';
@import '../../token/dark-light-mode';

.banner-wrapper {
    padding: 0.5rem;
    background-image: linear-gradient(157deg, var(--palette-primary-main) 8%, var(--palette-primary-main) 31%, var(--palette-secondary-main)  79%);
    @include d-flex-v;
    .image-wrapper {
        width: 50%;
        img {
            width: 90%;
            height: 100px;
        }
    }
    article {
        width: 50%;
        h1, h2 {
            line-height: 1rem;
            color: var(--palette-text-primary);
        }
        h1 {
            font-weight: 700;
            line-height: 1.6;
            font-size: var(--text-md);
        }
        h2 {
            font-size: var(--text-sm);
        }
    }
}