body.light {
  --palette-primary-main: rgb(121, 0, 219);
  --palette-secondary-main: rgb(85, 75, 154);
  --palette-primary-dark: rgb(5, 4, 19);
  --palette-primary-light: rgb(27, 25, 52);
  --palette-text-primary: rgb(243, 245, 252);
  --palette-text-secondary: rgb(167, 149, 188);
  --palette-button-light: rgb(137, 32, 222);
}
body.dark {
  --palette-primary-main: rgb(121, 0, 219);
  --palette-secondary-main: rgb(85, 75, 154);
  --palette-primary-dark: rgb(5, 4, 19);
  --palette-primary-light: rgb(27, 25, 52);
  --palette-text-primary: rgb(243, 245, 252);
  --palette-text-secondary: rgb(167, 149, 188);
  --palette-button-light: rgb(137, 32, 222);
}

