.container {
    background-color: var(--palette-background-default);
    background: linear-gradient(149.36deg, var(--palette-primary-dark) 16.48%, var(--palette-primary-light)  70.85%);
    transition: var(--theme-anim-duration-standard);
    height: 100%;
    & > *{
        margin: 0 1rem;
    }
}